.dashboardContainer{
    width: 96%;
    display: flex;
    flex-direction: row;

    .left-dash{
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .selectItem{
            width: 420px;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .dash-records{
            width: 100%;
            background-color: green;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .first{
                width: 46%;
                height: 100px;
                background-color: blue;
            }

            .second{
                width: 46%;
                height: 100px;
                margin-right: 25px;
                background-color: yellow;
            }
        }
    }

    .right-dash{
        width: 50%;
        height: 200px;
    }
}

@media (max-width: 1000px){
    .dashboardContainer{
        width: 100%;
        flex-direction: column;
        align-items: center;

        .left-dash{
            width: 98%;
            margin-top: 20px;

            .selectItem{
                width: 420px;
                justify-content: space-between;
            }
        }

        .right-dash{
            width: 100%;
        }
    }
}

@media (max-width: 420px){
    .dashboardContainer{
        .left-dash{
            .selectItem{
                width: 100%;
                flex-direction: column;
                align-items: center;
                height: 80px;
                justify-content: space-between;
                background-color: green;
            }
        }
    }
}