.paymentsCaontainer{
    width: 96%;
    height: auto;
    background: #F0F9F7;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .inner-pay{
        width: 97%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        .action{
            display: none;
        }

        .search{
            width: 100%;
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .input-cont{
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .second-select{
                    width: 49%;
                }

                .second-select2{
                    width: 49%;
                }
            }

            .input-cont2{
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .second-select{
                    width: 49%;
                }

                .second-select2{
                    width: 49%;
                }
            }

            .butt{
                width: 130px;
                font-size: 10px;
            }
        }

        .search2{
            width: 100%;
            height: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .input-cont{
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .second-select{
                    width: 49%;
                }

                .second-select2{
                    width: 49%;
                }

                .second-select3{
                    width: 30%;
                }
            }

            .input-cont2{
                width: 30%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .second-select{
                    width: 49%;
                }

                .second-select2{
                    width: 65%;
                }

                .second-select3{
                    width: 30%;
                }
            }

            .butt{
                width: 130px;
            }
        }

        .table-container{
            width: 100%;
            height: auto;
            margin-top: 20px;

            .table-head{
                width: 100%;
                //min-width: 1245px;
                height: 35px;
                background-color: #525252;
                display: flex;
                flex-direction: row;
                border-radius: 4px;
    
                .column{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-family: 'Nunito-Regular';
                    font-size: 14px;
                }
            }

            .table-head2{
                width: 100%;
                height: 50px;
                background-color: #EDEDED;
                display: flex;
                flex-direction: row;
                border-radius: 4px;
                margin-top: 5px;
    
                .column{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    font-family: 'Nunito-Regular';
                    font-size: 14px;

                    .actions{
                        width: 100px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                
            }
        }

        .footer{
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .nav{
                height: 30px;
                display: flex;
                flex-direction: row;

                .but{
                    width: 60px;
                    border: 1px solid #000;
                    border-right-color: transparent;
                    border-radius: 0px;
                    font-size: 12px;
                }

                .but2{
                    width: 60px;
                    border: 1px solid #000;
                    border-left-color: transparent;
                    border-radius: 0px;
                    font-size: 12px;
                }

                .num{
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #000;
                    background-color: #06805B;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 1250px){
    .paymentsCaontainer{
        margin-top: 80px;

        .inner-pay{
            .search{
                .input-cont{
                    width: 60%;
                }
            }

            .table-container{
                overflow-x: scroll;

                .table-head{
                    width: 1245px;
                }

                .table-head2{
                    width: 1245px;
                }
            }
        }
    }
}

@media (max-width: 530px){
    .paymentsCaontainer{
        .inner-pay{
            .action{
                display: flex;
                width: 100%;
                height: 35px;
                margin-bottom: 20px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .search{
                width: 100%;
                height: auto;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                .input-cont{
                    width: 100%;
                    flex-direction: column;

                    .second-select{
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .second-select2{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }
                }

                .input-cont2{
                    width: 100%;
                    flex-direction: column;

                    .second-select{
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .second-select2{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }
                }

                .butt{
                    width: 100%;
                    display: none;
                }

                .butt2{
                    width: 100%;
                }
            }

            .search2{
                width: 100%;
                height: auto;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                margin-top: 0px;

                .input-cont{
                    width: 100%;
                    flex-direction: column;

                    .second-select{
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .second-select2{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }

                    .second-select3{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }
                
                }

                .input-cont2{
                    width: 100%;
                    flex-direction: column;

                    .second-select{
                        width: 100%;
                        margin-bottom: 20px;
                    }

                    .second-select2{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }

                    .second-select3{
                        width: 100%;
                        margin-bottom: 20px;
                        display: none;
                    }
                }

                .butt{
                    width: 100%;
                    display: none;
                }

                .butt2{
                    width: 100%;
                }
            }
        }
    }
}